.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 81.5vh;
  background-color: #c7ecff;
  box-sizing: border-box;
}

.Information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

#motto,
#LogoText {
  margin: 0;
  padding: 0;
}

#LogoText {
  color: #087e8b;
}

#loginBtn,
#registerBtn {
  display: inline-block;
  width: 110px;
  height: 25px;
  padding: 7px 7px;
  border-radius: 6%;
  background-color: #0b3954;
  color: #bfd7ea;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin: 15px;
  /* margin-top: 50px; */
  text-align: center;
}

#loginBtn:hover,
#registerBtn:hover {
  background-color: white;
  color: #0b3954;
}

.Buttons {
  text-align: center;
  line-height: 25px;
}

.Metrics {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.Metric {
  background-color: #0b3954;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  width: 140px;
  margin: 60px;
  height: 170px;
}

.Metric h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #b7d7ea;
}

.Metric a {
  color: #007bff;
  text-decoration: none;
}

.Metric a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1900px) and (max-width: 1920px) {
  .LandingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87vh;
    background-color: #b7d7ea;
    box-sizing: border-box;
  }

  .Information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #motto {
    font-size: 26px;
    margin: 0;
    padding: 0;
  }

  #LogoText {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 38px;
  }

  .logo > img {
    min-height: 100px;
    min-width: 150px;
    margin-bottom: 20px;
  }

  #loginBtn,
  #registerBtn {
    display: inline-block;
    width: 130px;
    height: 30px;
    padding: 7px 7px;
    border-radius: 8px;
    background-color: #0b3954;
    color: #bfd7ea;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
    margin: 10px;
    margin-top: 50px;
    text-align: center;
  }

  #loginBtn:hover,
  #registerBtn:hover {
    background-color: aliceblue;
    color: #0b3954;
  }

  .Buttons {
    text-align: center;
    line-height: 30px;
  }
}
