footer {
  max-height: 3vh;
  background-color: #0b3954;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 5px 0;
  font-size: 14px;
}

footer p:first-child {
  font-weight: bold;
}
