.resultModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.resultModalContent {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
  min-height: 200px;
  text-align: center;
}
