.ContactUs {
  display: flex;
  background-color: #f2f2f2;
}

.contact-content {
  flex: 1;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.contact-content h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #4b4848;
  text-align: center;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.contact-item:nth-child(3) {
  grid-column: 1 / span 2;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.contact-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #567da7;
}

.contact-info p {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.contact-form {
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.contact-form form {
  width: 100%;
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #4b4848;
}

.form-input {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 15px;
}

.contact-form button {
  width: 100%;
  max-width: 300px;
  height: 45px;
  background-color: #057eff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.contact-form button:hover {
  background-color: #000000;
}

.social-media {
  margin-top: 30px;
  text-align: center;
}

.social-media h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #4b4848;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  font-size: 24px;
  color: #4a69bd;
  margin-right: 10px;
}

.social-icons a {
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
  opacity: 1;
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .ContactUs {
    background-color: #f2f2f2;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;
    padding: 10px;
    min-width: 700px;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    max-height: fit-content;
  }

  .contact-content h1 {
    font-size: 32px;
    margin: 20px 0;
    color: #4b4848;
  }

  .contact-form {
    width: 600px;
    height: 300px;
    background-color: #f2f2f2;
  }

  .contact-item {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
  }
  .contactUs-btn {
    width: 180px;
    height: 48px;
  }

  .form-input {
    display: flex;
    justify-content: center;
  }
}
