.StatisticsMain {
  display: flex;
  background-color: #f0f7ff;
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .StatisticsMain {
    background-color: #f2f2f2;
    display: flex;
    min-height: 86.7vh;
  }
}
