.UserInfoPage {
  display: flex;
  height: 100vh;
  background-color: #f8f8f8;
}

.UserInfoPage-content {
  flex: 1;
  padding: 20px;
}

.profile-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  font-size: 24px;
  fill: #572b9e;
  margin-right: 10px;
  margin-top: 30px;
}

.profile-details {
  display: flex;
  align-items: center;
}

.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
  font-size: 18px;
}

.profile-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-info p {
  margin-bottom: 5px;
}

.additional-info-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 30px;
}

.additional-info-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.info-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #333;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-item p {
  font-size: 16px;
  color: #666;
  margin-left: 10px;
}
