.TaskSectionContainer li {
  padding: 8px;
}
.TaskSectionContainer h3 {
  margin: 4px;
}

.TaskSectionContainer :hover {
  color: #8854d0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.selectedText{
  position: absolute;
  color: white;
  z-index: -1;
}
